body {
  margin:0;
  width:100vw;
  display: flexbox;
  background-color: antiquewhite;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: space-between;
  font-size: small;
  height:1000px
}
img {
  width:70%;
  height:50%;
  border: solid black 2px ;
}
.whole {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
  .card {
    font-size: small;
  }

.genre{
  font-size: larger;
  font-weight: bold;
  box-shadow: 0 3px 17px rgba(33, 30, 30, 0.86);
}
#Age{
  margin-bottom: 5px;
}
