body {
  margin:0;
  width:100vw;
  display: flexbox;
  background-color: antiquewhite;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;

}
img {
  width:25%;
  height:25%;
  border: solid black 2px ;
}
.game {
  border:solid black 2px;
  
}